<%- include('../partials/header') %>

<div class="container">
  <% if (user) { %> <% if (user.avatar) { %>
  <img
    src="<%= user.avatar %>"
    alt="<%= user.name %>'s avatar"
    referrerpolicy="no-referrer"
  />
  <% } %>
  <p><%= user.name %></p>
  <p><%= user.email %></p>
  <h2>Going to these shows:</h2>

  <div class="result-container">
    <% shows.forEach(function(s) { %>
    <div class="show">
      <div class="image-container">
        <img name="showImage" class="show-image" src="<%= s.showImage %>" />
      </div>
      <div name="showName"><%= s.showName %></div>
      <div name="showDate"><%= s.showDate.toLocaleDateString() %></div>
      <div name="showVenue"><%= s.showVenue %></div>
      <form action="profile/shows/<%= s._id %>?_method=DELETE" method="POST">
        <button class="delete" type="submit">Delete</button>
      </form>
    </div>
    <% }) %>
  </div>

  <% } else { %>
  <h2>Please login</h2>
  <% } %>
</div>

<%- include('../partials/footer') %>
