<%- include('../partials/header') %>
<div class="container">
  <% if (user.avatar) { %>
  <img
    src="<%= user.avatar %>"
    alt="<%= user.name %>'s avatar"
    referrerpolicy="no-referrer"
  />
  <% } %>
  <p><%= user.name %></p>
  <p><%= user.email %></p>
  <h2>Going to these shows:</h2>
</div>
<%- include('../partials/footer') %>
