<%- include('./partials/header') %>

<div class="container">
  <h2>Find a Show</h2>
  <form action="/shows" method="GET" class="search">
    <input type="text" class="artist" name="showSearch" />
    <button type="submit">Search</button>
  </form>

  <div class="result-container">
    <% if (events.length) { %> <% events.forEach(function(e) { %>

    <div class="show">
      <div class="image-container">
        <img class="show-image" src="<%= e.images[0].url %>" />
      </div>
      <div><%= e.name %></div>
      <div><%= e.dates.start.localDate %></div>
      <div><%= e._embedded.venues[0].name %></div>
      <button>Save</button>
    </div>

    <!-- Close the forEach using EJS here -->
    <% }); %> <% } else { %> <% } %>
  </div>
</div>

<%- include('./partials/footer') %>
