<%- include('./partials/header') %>

<div class="container">
  <h2>Find a Show</h2>
  <form action="/shows" method="GET" class="search">
    <input type="text" class="artist" name="showSearch" />
    <button type="submit">Search</button>
  </form>

  <div class="result-container">
    <% if (events.length) { %> <% events.forEach(function(e) { %>

    <div class="show">
      <div class="image-container">
        <img name="showImage" class="show-image" src="<%= e.images[0].url %>" />
      </div>
      <div name="showName"><%= e.name %></div>
      <div name="showDate"><%= e.dates.start.localDate %></div>
      <div name="showVenue"><%= e._embedded.venues[0].name %></div>
      <form action="/profile/shows" method="POST">
        <input type="hidden" name="showImage" value="<%= e.images[0].url %>" />
        <input type="hidden" name="showName" value="<%= e.name %>" />
        <input
          type="hidden"
          name="showDate"
          value="<%= e.dates.start.localDate %>"
        />
        <input
          type="hidden"
          name="showVenue"
          value="<%= e._embedded.venues[0].name %>"
        />
        <button type="submit">Save</button>
      </form>
    </div>

    <!-- Close the forEach using EJS here -->
    <% }); %> <% } else { %> <% } %>
  </div>
</div>

<%- include('./partials/footer') %>
