<%- include('../partials/header') %>

<div class="container-two">
  <% if (user) { %>

  <div class="result-container">
    <% shows.forEach(function(s) { %> <% if(user._id.equals(s.creatorId )) { %>
    <div class="show">
      <div class="image-container">
        <img name="showImage" class="show-image" src="<%= s.showImage %>" />
      </div>
      <div name="showName" class="flex-child"><%= s.showName %></div>
      <div name="showDate"><%= s.showDate.toLocaleDateString() %></div>
      <div name="showVenue"><%= s.showVenue %></div>
      <div name="showVenue"><%= s.showLocale %></div>
      <form action="profile/shows/<%= s._id %>?_method=DELETE" method="POST">
        <button class="delete" type="submit">Delete</button>
      </form>
    </div>

    <div class="avatar">
      <% if (user.avatar) { %>
      <div class="photo-container-three">
        <img
          src="<%= user.avatar %>"
          alt="<%= user.name %>'s avatar"
          class="profile-photo-two"
          referrerpolicy="no-referrer"
        />
      </div>
      <div class="photo-container-three">
        <img
          src="https://res.cloudinary.com/dtjasyr7k/image/upload/v1698886414/avatar_hypgj8.png"
          alt="avatar"
          class="avatar-pic"
        />
      </div>
      <div class="photo-container-three">
        <img
          src="https://res.cloudinary.com/dtjasyr7k/image/upload/v1698886833/avatarr_ffu0xv.png"
          alt="avatar"
          class="avatar-pic"
        />
      </div>
      <% } %>
    </div>

    <% } %> <% }) %>
  </div>

  <% } else { %>
  <h2>Please login</h2>
  <% } %>
</div>

<%- include('../partials/footer') %>
